<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Deployment Tutorial 1</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:20' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:20' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
 <div class="login">
<body style="background: #000;">

	<h1>Janaagrah</h1>
<br>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="user_text" placeholder="Input the text" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict your test</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 


</body>

</html>
